@charset "UTF-8";
/* CSS Document */

body{
	background-color:#100;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF	
	}

ul{
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

/* Container als Haupt-Div */
#container{
	margin:auto;
	margin-top:50px;
	padding:20px;
	width:1024px;
	height:950px;
	background-color:#039;
	background-image:url(../bilder/Ziegelwand3.png);
	background-repeat:repeat;
	border:#FFFFFF 6px solid;	
	}

/* Header als oberstes Div */
#header{
	margin:auto;
	margin-top:10px;
	padding:20px;
	width:814px;
	height:65px;
	border:#FFF 3px solid;	
	}
/* Ende Header */


/* Beginn Navigation */
#navi{
	margin:auto;
	margin-top:10px;
	padding:20px;
	width:814px;
	border:#FFF 3px solid;
	font-size: 20px;
	}

#navi li{
	display:inline;
	color:#fff;
	padding-right:20px;	
	}


div#navi a{
	color:#FFF;
	text-decoration:none;	
	}
	
div#navi a:hover{
	color:#FFF523;
	text-decoration:none;
	}

/* class - AKTIV */
.aktiv {
	font-weight:bold;
	text-decoration:underline;
	}

	
/* Ende Navigation */


/* Beginn Content */
#content{
	margin:auto;
	margin-top:10px;
	padding:20px;
	width:814px;
	height:620px;
	border:#FFF 3px solid;	
	}
	
/* Ende Content */

/* Beginn Footer */
#footer{
	margin:auto;
	margin-top:10px;
	padding:20px;
	width:814px;
	height:10px;
	border:#FFF 3px solid;	
	}
	
/* Ende Footer */